

.list-inner-main-wrapper{
  
border-radius: 20px;
    background-color: rgb(202, 221, 240);
    color:white

}
/* .list-main .back-btn {
    display: flex;
    justify-content: end;
    width: 100%;
 
    

} */
.not-found{
    color: black;
    text-align: center;
}
.back-btn{
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    width: 100%;
    
  
   
    
}